blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
dynaconf==3.1.4
fastapi==0.65.1
h11==0.12.0
httpcore==0.13.3
httpx==0.18.1
idna==2.10
Jinja2==3.0.1
MarkupSafe==2.0.1
murmurhash==1.0.5
numpy==1.20.3
packaging==20.9
pathy==0.5.2
preshed==3.0.5
pydantic==1.8.2
pyparsing==2.4.7
requests==2.25.1
rfc3986==1.5.0
smart-open==3.0.0
sniffio==1.2.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
starlette==0.14.2
thinc==8.0.3
tqdm==4.60.0
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
wasabi==0.8.2
